<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>security test</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="text-center">
    <h1>List of All Users</h1>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User Id</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tbody>
        <tr>
            <tr th:each="user:${listUsers}">
            <td th:text="${user.id}">User Id</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.firstName}">First name</td>
            <td th:text="${user.lastName}">Last Name</td>
        </tr>
        </tbody>
            </thead>
        </table>
    </div>

</div>


</body>
</html>